.todoContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}
.header_addButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    .add_todo_btn {
       height: 2rem;
       width: max-content; 
       background-color: green;
    }
}